# Created by .gitignore support plugin (hsz.mobi)
node_modules
packages
.publish
build/web
web/packages
web/src
web/frameworks/js-bindings
web/frameworks/runtime-src
web/frameworks/cocos2d-x
web/publish